node_modules/
**/node_modules/
**/.env
**/.env.*
!**/.env.example
npm-debug.log
.git
.gitignore
Dockerfile
.dockerignore
tests
coverage
**/secrets/*
!**/secrets/.gitkeep
**/serviceAccountKey.json
**/brewease-2026-firebase-adminsdk-*.json